<app-app-wrapper>
  <div class="cards-container">
    <mat-card class="cart">
      <mat-card-title>User Data</mat-card-title>
      <p>Email: {{ (user$ | async)?.email }}</p>

      <mat-form-field appearance="fill">
        <mat-label>Main currency</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          name="currency"
          (ngModelChange)="selectMainCurrency()"
        >
          <mat-option
            *ngFor="let currency of currencies$ | async"
            [value]="currency.id"
          >
            {{ currency.title }} {{ currency.shortTitle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <div class="new-password-container">
        <mat-form-field class="new-password-form-field">
          <mat-label>New password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="newPassword"
            (ngModelChange)="changePassword()"
          />
        </mat-form-field>
        <mat-form-field class="new-password-form-field">
          <mat-label>Confirm new password </mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="newPasswordConfirm"
            (ngModelChange)="changePassword()"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="warn"
          [disabled]="!(!!newPassword && newPassword === newPasswordConfirm)"
          (click)="updatePassword()"
        >
          Update password
        </button>
      </div>
    </mat-card>

    <mat-card class="cart">
      <mat-card-title>Organizations</mat-card-title>
      <div
        *ngIf="
          organizations$ | async;
          let organizations;
          else: no_organizations
        "
      >
        <p *ngFor="let organization of organizations">
          {{ organization.name }}
        </p>
      </div>
      <ng-template #no_organizations>
        <p>No organizations found</p>
      </ng-template>

      <button mat-raised-button color="primary" (click)="addOrganization()">
        Add organization
      </button>
    </mat-card>
  </div>

  <div class="cards-container">
    <mat-card class="cart">
      <app-tags [type]="transactionType.RECEIVE"></app-tags>
    </mat-card>

    <mat-card class="cart">
      <app-tags [type]="transactionType.SEND"></app-tags>
    </mat-card>

    <mat-card class="cart">
      <app-tags [type]="transactionType.TRANSFER"></app-tags>
    </mat-card>
  </div>
</app-app-wrapper>
