header {
  height: 50px;
}

.example-container {
  height: calc(100% - 50px);
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  display: flex;
  justify-content: flex-end;
  min-width: 100px;
  padding-right: 20px;

}
a {
  justify-content: flex-end;
}

.nav-bar{ 
  display: flex;
}

.logout-button {
  position: absolute;
  bottom: 10px;
}