<header>
  <button
    mat-icon-button
    color="primary"
    aria-label="Example icon button with a menu icon"
    (click)="menuVisible = !menuVisible"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="header--user-info-block">
    <a mat-button routerLink="/user-account">
      {{ (user$ | async)?.email }}
      {{ (userMainCurrency$ | async)?.internationalSimbol }}</a
    >
    <button mat-button class="logout-button" (click)="logout()">Logout</button>
  </div>
</header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="menuVisible">
    <nav>
      <ul>
        <li>
          <a
            mat-button
            routerLink="/user-account"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >User account</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/common"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Common</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/balances"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Balances
          </a>
        </li>
        <li>
          <a
            mat-button
            routerLink="/currencies"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Currencies</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/transactions"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Transactions</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/settings"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Settings</a
          >
        </li>
      </ul>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
