:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main {
    flex: 1;
  }

  footer {
    height: 50px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
  }
}
