<div mat-dialog-title class="title-container"><h2>Log in</h2>  <button mat-button (click)="signUpOpen()">Sign up</button></div>

<div mat-dialog-content class="content">
  <mat-form-field appearance="fill">
    <input matInput type="text" placeholder="login" [(ngModel)]="login" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input
      matInput
      type="password"
      placeholder="password"
      [(ngModel)]="password"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="submit()">Submit</button>
</div>
