<h1>Hello, in BalancesApp!</h1>

<mat-card>
  <mat-card-title>About</mat-card-title>
  <mat-card-content>
    A powerful tool designed to efficiently manage balances, transactions, and
    multiple currencies. With this software, you can easily keep track of your
    financial activities and ensure that you always have an accurate overview of
    your finances.
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Demo</mat-card-title>
  <mat-card-content>You can try demo before usage</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="tryDemo()">Try demo</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>You can login or signup to start usage</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()">Login</button>
    <button mat-raised-button (click)="signUp()">Signup</button>
  </mat-card-actions>
</mat-card>
