:host {
  mat-card {
    padding: 15px;
    display: flex;
    gap: 15px;
  }

  .company-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .users-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
