<div class="common-container">
  <div class="column balance-column">
    <div *ngIf="dataSourceMain$ | async; let dataSourceMain">
      <h3>Balances in main</h3>
      <table mat-table [dataSource]="dataSourceMain" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">{{ element.value | number: '1.1-1'}} {{ element.internationalSimbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="column circle-column">
    <canvas
      baseChart
      *ngIf="datasets$ | async; let datasets"
      [type]="'doughnut'"
      [datasets]="datasets"
    >
    </canvas>
  </div>
  <div class="column balance-column">
    <div *ngIf="dataSourceInNative$ | async as dataSourceInNative">
      <h3>Balances in native</h3>
      <table
        mat-table
        [dataSource]="dataSourceInNative"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">{{ element.value | number: '1.1-1' }}  {{ element.internationalSimbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
