:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  header {
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;

    .header--menu-info-block {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      h1 {
        display: contents;
        color: #bf00bf;
      }
    }

    .header--user-info-block {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
  }

  .example-container {
    height: calc(100% - 50px);
  }

  ul {
    list-style: none;
    padding-left: 20px;
  }

  li {
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
    padding-right: 20px;
  }
  a {
    justify-content: flex-end;
  }

  .nav-bar {
    display: flex;
  }

  .content {
    padding: 15px;
  }

  mat-tree-node {
    justify-content: space-between;
  }
}
