<app-app-wrapper>
  <div class="chart">
    <canvas id="currencies-chart"></canvas>
  </div>

  <table
    mat-table
    *ngIf="dataSource$ | async; let dataSource"
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="internationalSimbol">
      <th mat-header-cell *matHeaderCellDef>Short symbol</th>
      <td mat-cell *matCellDef="let element">
        {{ element.internationalSimbol }}
      </td>
    </ng-container>

    <ng-container matColumnDef="internationalShortName">
      <th mat-header-cell *matHeaderCellDef>Short name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.internationalShortName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valueRelatedMain">
      <th mat-header-cell *matHeaderCellDef>Value related main</th>
      <td mat-cell *matCellDef="let element">
        {{ element.valueRelatedMain | number : "1.1-1" }}
        {{ element.internationalSimbol }}
      </td>
    </ng-container>

    <ng-container matColumnDef="summedUp">
      <th mat-header-cell *matHeaderCellDef>Summed Value</th>
      <td mat-cell *matCellDef="let element">
        {{ element.summedUp | number : "1.1-1" }}
        {{ element.internationalSimbol }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</app-app-wrapper>
