<form [formGroup]="profileForm">
  <mat-form-field appearance="fill">
    <mat-label>Value</mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="transactionType.RECEIVE">{{
        transactionType.RECEIVE
      }}</mat-option>
      <mat-option [value]="transactionType.SEND">{{
        transactionType.SEND
      }}</mat-option>
      <mat-option [value]="transactionType.TRANSFER">{{
        transactionType.TRANSFER
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="(type$ | async) === transactionType.RECEIVE">
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <mat-select formControlName="to">
        <mat-option
          *ngFor="let balance of balances$ | async"
          [value]="balance.id"
          >{{ balance.title }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>To value</mat-label>
      <input matInput formControlName="toValue" type="number" />
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="(type$ | async) === transactionType.SEND">
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <mat-select formControlName="from">
        <mat-option
          *ngFor="let balance of balances$ | async"
          [value]="balance.id"
          >{{ balance.title }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>From value</mat-label>
      <input matInput formControlName="fromValue" type="number" />
    </mat-form-field>
  </ng-container>

  <div
    *ngIf="(type$ | async) === transactionType.TRANSFER"
    class="transfer-transaction"
  >
    <div>
      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select formControlName="from">
          <mat-option
            *ngFor="let balance of balances$ | async"
            [value]="balance.id"
            >{{ balance.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <mat-select formControlName="to">
          <mat-option
            *ngFor="let balance of balances$ | async"
            [value]="balance?.id"
            >{{ balance.title }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label
          >From value ({{ fromValueInToCurrency$ | async | number : "1.1-1" }}
          {{ toBalanceInternationalSimbol$ | async }})</mat-label
        >
        <input matInput formControlName="fromValue" type="number" />
        <mat-icon matSuffix>{{
          fromBalanceInternationalSimbol$ | async
        }}</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          To value ({{ toValueInFromCurrency$ | async | number : "1.1-1" }}
          {{ fromBalanceInternationalSimbol$ | async }})
        </mat-label>
        <input matInput formControlName="toValue" type="number" />
        <mat-icon matSuffix>{{
          toBalanceInternationalSimbol$ | async
        }}</mat-icon>
      </mat-form-field>
    </div>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
